<form>
<ul class="list-group">
	<li class="list-group-item">Title: <input type="text" name="videoTitle"></li>
	<li class="list-group-item">Tags: <input type="text" name="videoTags"></li>
	<li class="list-group-item">Morbi leo risus</li>
	<li class="list-group-item">Porta ac consectetur ac</li>
	<li class="list-group-item">Vestibulum at eros</li>
</ul>
</form>
