<section class="stats" style="box-sizing:border-box;margin-top:25px;">
	<div class="row">
		<ul class="dashboard">
			{{#each boxes}}
			<li class="box text-center col-md-4" style="display:inline-block;list-style-type:none;border:1px solid #eee;padding:25px 0px;">
				<h3>{{this.data}}</h3>
				<p style="font-size:13px;color:#aaa;">{{this.title}}</p>
			</li>
			{{/each}}
		</ul>
	</div>
</section>